ImobiliariaPadillaProject/force-app/main/default/flows/Agendamento_de_visitas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Pega_Data_e_Hora</name>
        <label>Pega Data e Hora</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AtualizaDataHoraVisita</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escolha_a_data_e_hora_da_visita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Data_e_Hora</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_o</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>opcaoNAO</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAO</stringValue>
        </value>
    </choices>
    <choices>
        <name>opcaoSIM</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Escolhe_visita</name>
        <label>Escolhe visita</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escolha_Data_e_Hora</targetReference>
            </connector>
            <label>Se Visita</label>
        </rules>
        <rules>
            <name>Se_Nao_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <label>Se Não Visita</label>
        </rules>
    </decisions>
    <interviewLabel>Agendamento de visitas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de visitas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Atualiza_Data_e_Hora</name>
        <label>Atualiza Data e Hora</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Visita_Agendada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdDoImovel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visita_Agendada__c</field>
            <value>
                <elementReference>AtualizaDataHoraVisita</elementReference>
            </value>
        </inputAssignments>
        <object>imovel__c</object>
    </recordUpdates>
    <screens>
        <name>Agendamento_de_visitas</name>
        <label>Agendamento de visitas</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Escolhe_visita</targetReference>
        </connector>
        <fields>
            <name>Deseja_agendar_uma_visita</name>
            <choiceReferences>opcaoSIM</choiceReferences>
            <choiceReferences>opcaoNAO</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>opcaoSIM</defaultSelectedChoiceReference>
            <fieldText>Deseja agendar uma visita?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escolha_Data_e_Hora</name>
        <label>Escolha Data e Hora</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pega_Data_e_Hora</targetReference>
        </connector>
        <fields>
            <name>Escolha_a_data_e_hora_da_visita</name>
            <dataType>DateTime</dataType>
            <fieldText>Escolha a data e hora da visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visita_Agendada</name>
        <label>Visita Agendada</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VisitaAgendadaSucesso</name>
            <fieldText>&lt;p&gt;Visita agendada com sucesso!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agendamento_de_visitas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AtualizaDataHoraVisita</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Escolha_a_data_e_hora_da_visita</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdDoImovel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ImovelObj.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ImovelObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>imovel__c</objectType>
    </variables>
</Flow>
